<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name=viewport content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<!--<link rel="stylesheet" href="css/style.css"/>-->
	<script src="js/jquery-2.1.1.js"></script>
	<script src="js/bootstrap.min.js"></script>
	
	<title>Star Wars RPG Item Manager</title>
</head>
<body>
	<div class="container" id="app">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" 
						class="navbar-toggle collapsed"
						data-toggle="collapse"
						data-target="#item-navigation"
						aria-expanded="false"
						>
						<span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
	        		</button>
				</div>
				<div class="collapse navbar-collapse" id="item-navigation">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Weapons</a></li>
						<li><a href="#">Armor</a></li>
						<li><a href="#">Gear</a></li>
						<li><a href="#">Attachments</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<h2>Item Manager</h2>
		<add-weapon v-if="currentView === 'add-weapon'"></add-weapon>
		<view-weapons v-if="currentView === 'view-weapons'" :weapons="weapons"></view-weapons>
		<view-weapon v-if="currentView === 'view-weapon'" :weapon="currentWeapon"></view-weapon>
		<edit-weapon v-else-if="currentView === 'edit-weapon'" :weapon="currentWeapon"></edit-weapon>
	</div>
	<script src="js/vue.js"></script>
	<script src="js/Classes.js"></script>
	<script src="js/Components.js"></script>
	<script src="js/App.js"></script>
</body>
</html>